.crear{ background-image:url(../images/Add.png) !important;}
.crear16{ background-image:url(../images/Add16.png) !important;}
.eliminar{ background-image:url(../images/Delete.png) !important;}
.eliminar16{ background-image:url(../images/Delete16.png) !important;}
.actualizar{ background-image:url(../images/Modify.png) !important;}
.actualizar16{ background-image:url(../images/Modify16.png) !important;}
.ayuda{ background-image:url(../images/Info.png) !important;}
.buscar16{ background-image:url(../images/Search16.png) !important;}
.temas{ background-image:url(../images/Picture.png) !important;}
.ajustar{ background-image:url(../images/Ajustar.png) !important;}
.ordenar{ background-image:url(../images/Sort.png) !important;}
.agrupar{ background-image:url(../images/Chart.png) !important;}
.item{ background-image:url(../images/Box.png) !important;}
.login{ background-image:url(../images/Login16.png) !important;}
.salir32{ background-image:url(../images/salir32.png) !important;}
.salir16{ background-image:url(../images/salir16.png) !important;}
.back32{ background-image:url(../images/Back32.png) !important;}
.go32{ background-image:url(../images/Go32.png) !important;}
.select32{ background-image:url(../images/Select32.png) !important;}
.pagar{ background-image:url(../images/pagar.png) !important;}
.next16{ background-image:url(../images/Next16.png) !important;}
.pdf{ background-image:url(../images/pdf.png) !important;}
